* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


body {
    background-image: linear-gradient(180deg, #212126 0%, #212126 69.79%, #212126 99.99%, #212126 100%);
    color: white;

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 16px;
}

.logo img {
    width: 186px;
    height: 36px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 18px;
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.dropdown {
    color: #6851ff !important;
    font-size: 1rem;
}

.switchIcon i {
    font-size: 32px;
    color: white;
}

.postJobBtn {
    color: #6851ff !important;
    font-weight: bold;
}

.heroparent {
    align-items: center;
    gap: 40px;
}

.first-head1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.first-head2 {
    font-size: 3rem;
    font-weight: 700;
}

.head2-part {
    color: #6851ff !important;
}

.first-para {
    font-size: 1rem;
    font-weight: 400;
}

.container {
    margin-top: 20px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.childsecond img {
    width: 550px;
    height: 400px;

}

.container {
    max-width: 1200px;
    margin: 80px auto;
    display: flex;
    gap: 60px;
    padding: 0 40px;
}

.left-box {
    flex: 1;
    border: 1px solid white;
    padding: 80px 50px;
    border-radius: 15px;
    text-align: center;
    background: rgba(255, 255, 255, 0.03);
}

.left-box h1 {
    font-size: 36px;
    margin-bottom: 25px;
    line-height: 1.4;
    color: white;
}

.left-box .highlight {
    color: white;

    font-size: 32px;
    color: #5f4bff;
    font-weight: bold;
}

.right-content {
    flex: 1.2;
}

.right-content h2 {
    color: white;

    font-size: 38px;
    margin-bottom: 20px;
}

.right-content p {
    line-height: 1.7;
    color: #ccc;
    margin-bottom: 20px;
}